[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
jupyter = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = {pyplot = "*"}
seaborn = "*"
sklearn = "*"

[requires]
python_version = "3.7"
